Time series provide the opportunity to predict/forecast future values based on previous values. Such analyses can be used to forecast trends in economics, weather, and capacity planning etc. The specific properties of time series data mean that specialized statistical methods are usually required.

### Dataset
"Atmospheric CO2 from Continuous Air Samples at Mauna Loa Observatory, Hawaii, U.S.A.," which collected CO2 samples from March 1958 to December 2001. 

This dataset comes from the statsmodels library

In [2]:
#make necessary imports and initial data #maipulation to visualize the time series
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
plt.style.use('ggplot')
import itertools
import warnings 
warnings.filterwarnings('ignore')

In [3]:
data = sm.datasets.co2.load().data
df = pd.DataFrame(data)

In [4]:
#update index to datetime type
df['date'] = pd.to_datetime(df['index'])
#set as index
df.set_index(df['date'], inplace=True)

In [5]:
df.drop(['date', 'index'], axis=1, inplace=True)

In [6]:
df.head()

              co2
date
1958-03-29  316.1
1958-04-05  317.3
1958-04-12  317.6
1958-04-19  317.5
1958-04-26  316.4

In [7]:
df = df.asfreq()

TypeError: asfreq() missing 1 required positional argument: 'freq'